body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.inline-radio {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: row;
}
